<div class="container">
  <div class="form-container">
    <h2 class="text-center">{{ title }}</h2>
 
    <form #notesForm="ngForm">
      <div class="form-group">
        <label>Заглавие:</label>
        <input
          type="text"
          [(ngModel)]="newNote.title"
          name="title"
          required
          minlength="5"
          #titleInput="ngModel"
          [ngClass]="{
            'error-border':
              titleInput.invalid && (titleInput.dirty || titleInput.touched)
          }"
        />
 
        <div
          *ngIf="titleInput.invalid && (titleInput.dirty || titleInput.touched)"
          class="error-message"
        >
          Заглавието трябва да съдържа минимум 5 символа
        </div>
      </div>
      <div class="form-group">
        <label>Съдържание:</label>
        <textarea
          [(ngModel)]="newNote.content"
          name="content"
          required
          minlength="7"
          #contentInput="ngModel"
          [ngClass]="{
            'error-border':
              contentInput.invalid &&
              (contentInput.dirty || contentInput.touched)
          }"
        >
        ></textarea
        >
        <div
          *ngIf="
            contentInput.invalid && (contentInput.dirty || contentInput.touched)
          "
          class="error-message"
        >
          Съдържанието трябва да съдържа минимум 7 символа
        </div>
      </div>
      <div class="container btn-container">
        <button
          type="submit"
          (click)="saveNote()"
          [disabled]="notesForm.invalid"
        >
          Съхрани бележката
        </button>
      </div>
    </form>
  </div>
 
  <div class="note-container">
    <h2 class="text-center">Списък с бележки</h2>
    <ul class="note-list">
      <li
        *ngFor="let note of notes; let i = index"
        class="note"
        [class.selected]="selectedNoteIndex === i"
        (click)="selectNote(i)"
      >
        <div class="note-title">{{ note.title }}</div>
        <div>{{ note.content }}</div>
        <div class="note-actions" *ngIf="selectedNoteIndex === i">
          <button (click)="editNote(i)">Редакция</button>
          <button (click)="deleteNote(i)">Изтриване</button>
        </div>
      </li>
      <li *ngIf="notes.length === 0" class="no-notes">Няма добавени бележки</li>
    </ul>
  </div>
</div>